html {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden !important;
  margin: 0px !important;
  padding: 0px !important; }

body {
  margin: 0px !important;
  padding: 0px !important;
  background-color: #ffffff;
  overflow: hidden !important;
  height: 100%;
  font: 1.2rem/1 Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100% !important;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }
  body .no-data-content {
    height: 100%;
    width: 100%;
    display: none;
    text-align: center;
    margin-top: 30%; }
    body .no-data-content img {
      width: 80px;
      height: 80px; }
    body .no-data-content .no-data-message {
      font-size: 12px;
      color: #999999;
      margin-top: 15px;
      margin-bottom: 19px; }
      body .no-data-content .no-data-message p {
        margin: 0 0 4px 0; }
    body .no-data-content .no-data-btn {
      font-size: 12px;
      color: #d12f38;
      border: 1px solid d12f38;
      border-radius: 5px;
      width: 100px;
      height: 30px;
      line-height: 30px;
      margin: 0 auto; }
  body .hidden-div-cls {
    display: none;
    position: absolute;
    left: -1000000px;
    top: -1000000px;
    font-size: 0px; }
  body .periphery-content {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1.1rem; }
    body .periphery-content a {
      text-decoration: none; }
    body .periphery-content img {
      vertical-align: middle; }
    body .periphery-content #content-div {
      padding: 0;
      margin: 0;
      width: 100%; }
    body .periphery-content .bg-div {
      width: 100%;
      height: 7px;
      background-color: #f2f1f6; }
    body .periphery-content .periphery-commodity-title {
      color: #565656;
      padding-bottom: 15px;
      padding-top: 15px;
      font-weight: 200;
      font-size: 13px;
      padding-left: 12px;
      text-align: left; }
    body .periphery-content .worth-buying {
      padding-bottom: 10px;
      display: inline-block;
      width: 100%; }
      body .periphery-content .worth-buying .worth-buying-left-div {
        margin-left: 10px; }
      body .periphery-content .worth-buying .worth-buying-content {
        position: relative;
        display: inline-block; }
      body .periphery-content .worth-buying .worth-buying-content-div {
        float: left; }
      body .periphery-content .worth-buying .worth-buying-right-div {
        margin-left: 8px; }
        body .periphery-content .worth-buying .worth-buying-right-div div {
          position: absolute; }
        body .periphery-content .worth-buying .worth-buying-right-div .worth-buying-right-img-div1 {
          top: 0px; }
        body .periphery-content .worth-buying .worth-buying-right-div .worth-buying-right-img-div2 {
          bottom: 0px; }
    body .periphery-content .first-product {
      display: inline-block;
      width: 100%; }
      body .periphery-content .first-product .first-product-content {
        margin-left: 5px; }
      body .periphery-content .first-product .first-product-content-div {
        float: left;
        margin-left: 10px;
        margin-bottom: 15px; }
    body .periphery-content .special {
      padding-bottom: 10px;
      width: 100%; }
      body .periphery-content .special .special-content-div {
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px; }
    body .periphery-content a {
      display: inline-block;
      height: 100%;
      width: 100%; }
      body .periphery-content a img {
        width: 100%; }

/*# sourceMappingURL=periphery.css.map */
