body {
  background: lightblue;

  .left-menu {
	text-align: center;
	padding-left: 20px;
	li {
	  margin: .5em 0;
	  line-height: 32px;
	  font-size: 16px;
	  background: #CCC;
	  a {
		display: inline-block;
		width: 100%;
	  }
	}
  }
  .right-content {

	padding: 20px;

	.ant-table-title {
	  font-size: 16px;
	  border: 0px !important;
	}

	tr {
	  th {
		text-align: center;
	  }
	  td {
		text-align: center;

		img {
		  height: 100px;
		  width: 100%;
		}
	  }
	}

	.td-img {
	  width: 100%;
	}
	.operate-btn {
	  margin-right: 10px;
	}
  }
}
