<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<title>活动页面</title>
	<link rel="stylesheet" type="text/css"
		  href="./activity/style/style.css"/>

	<script>
		var _hmt = _hmt || [];
		(function () {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?9cec8d46118debb6ccd35366cca0ff48";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<script>
		function aClickFnc(type) {
			_hmt.push(['_trackEvent', type, 'click', 'code']);
		}
	</script>

</head>
<body>
<div class="content">
	<div class="active-content">
	</div>
	<div class="active-end-content">
		<div class="active-end-content-cls">
			<img src="./activity/images/logo.png"/>
			<div class="active-end-content-title">活动已结束</div>
			<div class="active-end-content-title">欢迎返回商城首页查看更多活动</div>
			<div class="active-end-content-btn">返回商城</div>
		</div>
	</div>
</div>


<script src=./activity/script/data-js.js></script>
<script src=./activity/script/jquery214.min.js></script>
<script src=./activity/script/share-util/jweixin-1.0.0.js></script>
<script src=./activity/script/share-util/mqq.js></script>
<script src=./activity/script/share-util/mqq.ui.js></script>
<script src=./activity/script/share-util/MallShare.js></script>
<script src=./activity/script/share-util/weixinapi.js></script>
<script src=./activity/script/template.js></script>
<script src=./activity/script/adMin.js></script>
<script src=./activity/script/index.js></script>

</body>
<script id="returnHomeDom" type="text/html">
	<div class="return-home">
		<a href="{{data.back_home_url}}" onClick="aClickFnc('back_home_1')">
			<img src="{{data.back_home_bg}}">
		</a>
	</div>
</script>
<script id="renderBgMusicDom" type="text/html">
	<div class="music-btn" title="关闭背景音乐">
		<img src="./activity/images/open.png" onClick="aClickFnc('close_music')" class="icon-music-open"/>
		<img src="./activity/images/suspend.png" onClick="aClickFnc('open_music')" class="icon-music-suspend"
			 style="display: none"/>
	</div>
	<div class="mp3-div">
		<audio id="bgMusic" src="{{data}}" autoplay="autoplay" loop="loop"></audio>
	</div>
</script>
<script id="renderDom" type="text/html">
	<div>
		<div class="banner-content">
			{{if data.banner_from == 1}}
			<div class="banner-cls">
				<a href="{{data.activity_url}}" onClick="aClickFnc('banner_1')">
					<img src="{{data.activity_pic_banner}}">
				</a>
			</div>
			{{else }}
			<div class="designers-recommend">
				<div class="designers-recommend-content">
					<div class="designers-recommend-bg">
						<div class="designers-recommend-list-content">
							<div id="arrow-left" class="arrow-left"></div>
							<div id="arrow-right" class="arrow-right"></div>
							<div id="designers-recommend-list" class="designers-recommend-list"></div>
						</div>
					</div>
				</div>
			</div>
			{{/if}}
		</div>
		{{if data.is_had_hb == 1}}
		<div class="hb-content">
			<div class="hb-content-list">
				{{if data.hb_count == 1}}
				<div class="hb-content-only-one hb-content-list-one-cls">
					<a href="{{data.hb_1_url}}" onClick="aClickFnc('hb_1')">
						<img src="{{data.hb_1_img}}">
					</a>
				</div>

				{{else if data.hb_count ==2}}

				<div class="hb-content-two-left hb-content-list-two-cls">
					<a href="{{data.hb_1_url}}" onClick="aClickFnc('hb_1')">
						<img src="{{data.hb_1_img}}">
					</a>
				</div>

				<div class="hb-content-two-right hb-content-list-two-cls">
					<a href="{{data.hb_2_url}}" onClick="aClickFnc('hb_2')">
						<img src="{{data.hb_2_img}}">
					</a>
				</div>
				{{else if data.hb_count ==3}}

				<div class="hb-content-three-left hb-content-list-three-cls">
					<a href="{{data.hb_1_url}}" onClick="aClickFnc('hb_1')">
						<img src="{{data.hb_1_img}}">
					</a>
				</div>

				<div class="hb-content-three-middle hb-content-list-three-cls">
					<a href="{{data.hb_2_url}}" onClick="aClickFnc('hb_2')">
						<img src="{{data.hb_2_img}}">
					</a>
				</div>

				<div class="hb-content-three-right hb-content-list-three-cls">
					<a href="{{data.hb_3_url}}" onClick="aClickFnc('hb_3')">
						<img src="{{data.hb_3_img}}">
					</a>
				</div>

				{{/if}}

			</div>
			<div class="hb-separate">
				<img src="{{data.bg_separate}}">
			</div>
		</div>
		{{/if}}
		<div class="commodity-content">
		</div>
	</div>
</script>
<script id="renderCommodityDom" type="text/html">
	{{each list}}
	<div class="commodity-content-list">
		{{if $value.is_include_desc == 1}}
		<div class="commodity-desc-content" style="background-image: url('{{$value.desc_bg_pic}}')">
			<img class="commodity-desc-img" src="{{$value.desc_pic}}">
		</div>
		{{/if}}
		<div class="commodity-content-list-cls" style="background-image: url('{{goodsBgImg}}')">
			<a class="commodity-content-list-a" href="{{$value.url}}"
			   onClick="aClickFnc('{{clickType}}{{$index + 1}}')">
				<div class="commodity-content-list-div">
					<div class="commodity-img">
						<img class="commodity-img" src="{{$value.pic}}">
					</div>
					<div class="commodity-information">
						<label class="commodity-information-name"
							   style="color: {{$value.title_color}}">{{$value.title}}</label>
						<label class="commodity-information-description1"
							   style="color: {{$value.description_color}}">{{$value.description.substring(0,8)}}</label>
						{{if $value.description.substring(8,15).length > 0}}
						<label class="commodity-information-description2"
							   style="color: {{$value.description_color}}">{{$value.description.substring(8,15)}}</label>
						{{else}}
						<label class="commodity-information-description-zhanwei commodity-information-description2"
							   style="color: {{$value.description_color}}">占位</label>
						{{/if}}
						<label class="commodity-price-content">
							<label class="commodity-information-original-price"
								   style="color: {{$value.original_price_color}}">原价：{{$value.original_price}}</label>
							<label class="commodity-information-price-label">
								<span class="commodity-information-price-desc" style="color: {{$value.price_desc_color}}">现价:</span>
								<span class="commodity-information-price" style="color: {{$value.price_color}}">{{$value.price}}</span>
							</label>
						</label>
					</div>
				</div>
			</a>
		</div>
	</div>

	{{/each}}
</script>
</html>
