<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../style/scss.css" rel="stylesheet"/>
    <script language="JavaScript" src="../script/jquery-3.1.0.js"></script>
</head>
<body>
<div class="content">
    <div class="top-tite-content">
        <img class="top-title-img" src="../image/top-title.png"/>
        <div class="activity-rule-btn"></div>
        <div class="zimutiao">
            <label>爱他就点他，为他助威加油！赢取观赛门票！</label>
        </div>
    </div>

    <div class="foter-basketball-content">
        <div class="luoxuanquan-cls">
            <img class="luoxuanquan-cls-img" src="../image/luoxuanquan.png">
            <div class="weisai-logo"></div>
            <div class="weisai-div"></div>
        </div>

        <div class="head-ico-content">
            <div class="head-ico-div" id="head-icon-maidi">
                <img class="head-ico" src="../image/head-icon-maidi.png">
                <label class="head-ico-title">麦蒂</label>
            </div>
            <div class="head-ico-div" id="head-icon-baijingting">
                <img class="head-ico" src="../image/head-icon-baijingting.png">
                <label class="head-ico-title">白敬亭</label>
            </div>
            <div class="head-ico-div" id="head-icon-jiangjinfu">
                <img class="head-ico" src="../image/head-icon-jiangjinfu.png">
                <label class="head-ico-title">蒋劲夫</label>
            </div>
            <div class="head-ico-div" id="head-icon-wuyifan">
                <img class="head-ico" src="../image/head-icon-wuyifan.png">
                <label class="head-ico-title">吴亦凡</label>
            </div>
            <div class="head-ico-div" id="head-icon-xiaojingteng">
                <img class="head-ico" src="../image/head-icon-xiaojingteng.png">
                <label class="head-ico-title">萧敬腾</label>
            </div>
        </div>

    </div>

    <div class="layer-bg-div"></div>

    <div class="layer-content-div">
        <div class="activity-rule-layer">
            <img class="activity-rule-close-btn" src="../image/close-btn.png"/>
            <img class="activity-rule" src="../image/activity-rule.png"/>
        </div>

        <div class="give-me-fine-layer">
            <img class="give-me-fine-close-btn" src="../image/close-btn.png"/>
            <div class="give-me-fine-logo"></div>
            <div class="give-me-fine-form">
                <div class="give-me-fine-form-phone">
                    <input type="text" placeholder="请输入您的手机号码 "/>
                    <div class="get-verification-btn">
                        获取验证码
                    </div>
                </div>
                <div class="give-me-fine-form-verification">
                    <input type="text" placeholder="请输入手机验证号码 "/>
                </div>
                <img class="gogo-btn" src="../image/gogo-btn.png">
            </div>
        </div>


    </div>

</div>
</body>

<script language="JavaScript" src="../script/index.js"></script>
</html>