<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<title>APP首页</title>
	<link rel="stylesheet" type="text/css"
		  href=./app/style/periphery.css?v=1484725887>
	<script>
		var data = {
			"timestamp": 1484725887,
			"specilTypeList": [{
				"id": 8,
				"parent_id": 0,
				"type_name": "\u9996\u9875\u8f6e\u64ad\u56fe",
				"type_en": null,
				"status": 0,
				"create_time": 1478168773,
				"update_time": "2017-01-23 11:57:51",
				"sort": 10,
				"channel_terminal": 3,
				"route_path": "main_activity",
				"type_id": 1
			}, {
				"id": 9,
				"parent_id": 0,
				"type_name": "\u70ed\u95e8\u4e13\u9898",
				"type_en": null,
				"status": 0,
				"create_time": 1478168773,
				"update_time": "2017-01-19 10:37:00",
				"sort": 3,
				"channel_terminal": 3,
				"route_path": "worth_buying",
				"type_id": 2
			}, {
				"id": 10,
				"parent_id": 0,
				"type_name": "\u4e3a\u60a8\u63a8\u8350",
				"type_en": null,
				"status": 0,
				"create_time": 1478168773,
				"update_time": "2017-01-19 10:36:54",
				"sort": 8,
				"channel_terminal": 3,
				"route_path": "first_product",
				"type_id": 3
			}, {
				"id": 11,
				"parent_id": 0,
				"type_name": "\u6df1\u5ea6\u805a\u7126",
				"type_en": null,
				"status": 0,
				"create_time": 1478168779,
				"update_time": "2017-01-22 16:36:34",
				"sort": 7,
				"channel_terminal": 3,
				"route_path": "special",
				"type_id": 4
			}],
			"main_activity_data": [{
				"id": 156,
				"type_id": 1,
				"title": "\u6d4b\u8bd5\u9886\u53d6iOS\u7ea2\u5305",
				"title_en": null,
				"description": null,
				"sort": 2010,
				"status": 0,
				"create_time": 0,
				"update_time": "2017-02-23 15:40:56",
				"channel_terminal": 3,
				"url": "https:\/\/redbox.wepiao.com\/index.html?pid=ffd864c627c2bbcb&channelid=4&chid=2023",
				"img": "http:\/\/storage-devel.wesai.com\/8\/05e\/5cc7f\/805ee5cc7fe601478a2482f2ede15e17.png"
			}, {
				"id": 155,
				"type_id": 1,
				"title": "\u6d4b\u8bd5Android\u7ea2\u5305\u9886\u53d6",
				"title_en": null,
				"description": null,
				"sort": 2000,
				"status": 0,
				"create_time": 0,
				"update_time": "2017-02-23 15:41:00",
				"channel_terminal": 3,
				"url": "https:\/\/redbox.wepiao.com\/index.html?pid=ffd864c627c2bbcb&channelid=4&chid=2023",
				"img": "http:\/\/storage-devel.wesai.com\/3\/e51\/989ee\/3e51e989ee3c917f334248861b2b21d5.png"
			}, {
				"id": 149,
				"type_id": 1,
				"title": "\u534e\u590f\u5e78\u798f",
				"title_en": null,
				"description": null,
				"sort": 1234,
				"status": 0,
				"create_time": 0,
				"update_time": "2017-02-07 13:54:28",
				"channel_terminal": 3,
				"url": "https:\/\/ticket.wesai.com\/mobile\/detail\/onlineId=4051c2942a1d49efb8231893d498f1a2&x-from=ws01.000f.ssy.5",
				"img": "\/\/devel-10016962.file.myqcloud.com\/9\/c72\/eb8f6\/9c728eb8f60e44822855dc6d68c209f2.jpg"
			}, {
				"id": 133,
				"type_id": 1,
				"title": "APP\u8f6e\u64ad\u6d4b\u8bd51",
				"title_en": null,
				"description": null,
				"sort": 123,
				"status": 0,
				"create_time": 1483425265,
				"update_time": "2017-01-19 17:03:19",
				"channel_terminal": 3,
				"url": "https:\/\/mini.wesai.com\/jl118\/?channel=6",
				"img": "\/\/devel-10016962.file.myqcloud.com\/c\/6e7\/e58b9\/c6e7be58b999866135948f155134eb98.jpg"
			}],
			"special_data": [{
				"id": 152,
				"type_id": 4,
				"title": "12334234",
				"title_en": null,
				"description": null,
				"sort": 1238,
				"status": 0,
				"create_time": 0,
				"update_time": "0000-00-00 00:00:00",
				"channel_terminal": 3,
				"url": "//mp.weixin.qq.com/s/T06uFcy3RDPbtQoTS49drQ",
				"img": "\/\/devel-10016962.file.myqcloud.com\/a\/c84\/ba720\/ac84bba7205dc1ee7c0e616d6c2e7236.jpg"
			}, {
				"id": 151,
				"type_id": 4,
				"title": "167",
				"title_en": null,
				"description": null,
				"sort": 1237,
				"status": 0,
				"create_time": 0,
				"update_time": "0000-00-00 00:00:00",
				"channel_terminal": 3,
				"url": "http:\/\/mp.weixin.qq.com\/s\/893x7Ia7ewUVDaPzLpcrCQ",
				"img": "\/\/devel-10016962.file.myqcloud.com\/1\/887\/f807a\/18873f807a53c838c5b9eea4e2c5e42d.jpg"
			}, {
				"id": 138,
				"type_id": 4,
				"title": "01",
				"title_en": null,
				"description": null,
				"sort": 1233,
				"status": 0,
				"create_time": 1483500899,
				"update_time": "2017-01-16 10:41:04",
				"channel_terminal": 3,
				"url": "http:\/\/mp.weixin.qq.com\/s\/K_tTJGW766Vv613eL_g0PA",
				"img": "\/\/devel-10016962.file.myqcloud.com\/f\/9ea\/cc438\/f9eadcc438b3a7529c9f9e791f71d1dd.jpg"
			}, {
				"id": 127,
				"type_id": 4,
				"title": "02",
				"title_en": null,
				"description": null,
				"sort": 1231,
				"status": 0,
				"create_time": 1483005051,
				"update_time": "2017-01-16 10:41:15",
				"channel_terminal": 3,
				"url": "http:\/\/mp.weixin.qq.com\/s\/893x7Ia7ewUVDaPzLpcrCQ",
				"img": "\/\/devel-10016962.file.myqcloud.com\/a\/bbf\/fc79e\/abbfbfc79e8d8312c98b7dd9f9274bc3.jpg"
			}, {
				"id": 140,
				"type_id": 4,
				"title": "tail?itemid=241",
				"title_en": null,
				"description": null,
				"sort": 1221,
				"status": 0,
				"create_time": 1483500921,
				"update_time": "2017-01-13 17:35:06",
				"channel_terminal": 3,
				"url": "http:\/\/mp.weixin.qq.com\/s\/cFCvxuLmgLMOLhgJEfK9uw",
				"img": "\/\/devel-10016962.file.myqcloud.com\/3\/aa9\/15b1b\/3aa9d15b1ba7dbdc9c3a97fc2ba242bd.jpg"
			}, {
				"id": 150,
				"type_id": 4,
				"title": "\u4e13\u98986",
				"title_en": null,
				"description": null,
				"sort": 155,
				"status": 0,
				"create_time": 0,
				"update_time": "0000-00-00 00:00:00",
				"channel_terminal": 3,
				"url": "www.baidu.com",
				"img": "\/\/devel-10016962.file.myqcloud.com\/f\/c04\/93cc6\/fc04393cc631130e4d59b17b4c0855f4.jpg"
			}, {
				"id": 148,
				"type_id": 4,
				"title": "03",
				"title_en": null,
				"description": null,
				"sort": 1,
				"status": 0,
				"create_time": 1484124973,
				"update_time": "2017-01-16 10:41:24",
				"channel_terminal": 3,
				"url": "http:\/\/mp.weixin.qq.com\/s\/mWdmJmaIP2ccPhN6xsg3rQ",
				"img": "\/\/devel-10016962.file.myqcloud.com\/e\/2b1\/9e8ed\/e2b129e8ed52935e283bb91eca0e34de.jpg"
			}],
			"worth_buying_data": [{
				"id": 128,
				"type_id": 2,
				"title": "APP\u70ed\u95e8\u4e13\u9898\u6d4b\u8bd5112312",
				"title_en": null,
				"description": null,
				"sort": 123,
				"status": 0,
				"create_time": 1483424997,
				"update_time": "2017-01-23 11:27:10",
				"channel_terminal": 3,
				"url": "https:\/\/mini.wesai.com\/xcxb\/?channel=8&x-from=ws01.000c.xcxbzt.8",
				"img": "\/\/devel-10016962.file.myqcloud.com\/8\/037\/91ec8\/8037391ec825a2244ec35c27eccf972c.jpg"
			}, {
				"id": 129,
				"type_id": 2,
				"title": "APP\u70ed\u95e8\u4e13\u9898\u6d4b\u8bd52",
				"title_en": null,
				"description": null,
				"sort": 12,
				"status": 0,
				"create_time": 1483425027,
				"update_time": "2017-01-23 11:27:26",
				"channel_terminal": 3,
				"url": "https:\/\/mini.wesai.com\/20170119bx3app\/?channel=8&x-from=ws01.000c.bx3.8",
				"img": "\/\/devel-10016962.file.myqcloud.com\/2\/b32\/d6ec3\/2b32ad6ec32810a9ed49cea299dd1272.jpg"
			}, {
				"id": 130,
				"type_id": 2,
				"title": "APP\u70ed\u95e8\u4e13\u9898\u6d4b\u8bd53",
				"title_en": null,
				"description": null,
				"sort": 11,
				"status": 0,
				"create_time": 1483425047,
				"update_time": "2017-01-23 11:28:52",
				"channel_terminal": 3,
				"url": "https:\/\/mini.wesai.com\/20161111cbadz\/?channel=8&x-from=ws01.000c.cbadz.8",
				"img": "\/\/devel-10016962.file.myqcloud.com\/a\/4c3\/1dedc\/a4c3a1dedc06fffe8bdd4afbb4413013.jpg"
			}],
			"first_product_data": [{
				"id": 143,
				"type_id": 3,
				"title": "111111",
				"title_en": null,
				"description": null,
				"sort": 6,
				"status": 0,
				"create_time": 1483597678,
				"update_time": "2017-01-23 11:43:24",
				"channel_terminal": 3,
				"url": "wssport:\/\/showdetail?onlineid=79b7fab78e37412ba89afc2bcbe55fa0",
				"img": "\/\/devel-10016962.file.myqcloud.com\/d\/1b5\/d2202\/d1b54d22027009cd0ab8dd756d0b812c.jpg"
			}, {
				"id": 142,
				"type_id": 3,
				"title": "ces1",
				"title_en": null,
				"description": null,
				"sort": 5,
				"status": 0,
				"create_time": 1483597144,
				"update_time": "2017-01-23 11:43:20",
				"channel_terminal": 3,
				"url": "wssport:\/\/showdetail?onlineid=eb6f17cfbf7341deba83075814400350",
				"img": "\/\/devel-10016962.file.myqcloud.com\/a\/930\/9fae1\/a930d9fae15e71f61524985bf4185c71.jpg"
			}, {
				"id": 144,
				"type_id": 3,
				"title": "11111111111",
				"title_en": null,
				"description": null,
				"sort": 4,
				"status": 0,
				"create_time": 1483601927,
				"update_time": "2017-01-23 11:43:16",
				"channel_terminal": 3,
				"url": "wssport:\/\/showdetail?onlineid=ec26e62b47b041eb87a961498bef31b0",
				"img": "\/\/devel-10016962.file.myqcloud.com\/3\/02d\/d50f3\/302ded50f3ed7a1ebbe9026b6d9bf024.jpg"
			}, {
				"id": 134,
				"type_id": 3,
				"title": "APP\u503c\u5f97\u4e701",
				"title_en": null,
				"description": null,
				"sort": 3,
				"status": 0,
				"create_time": 1483426759,
				"update_time": "2017-01-23 11:43:10",
				"channel_terminal": 3,
				"url": "wssport:\/\/showdetail?onlineid=608173a1384244bf9c68df8305538d36",
				"img": "\/\/devel-10016962.file.myqcloud.com\/8\/af8\/028db\/8af82028db960e3da86bbad1e9d317c8.jpg"
			}, {
				"id": 153,
				"type_id": 3,
				"title": "\u540d\u5b57",
				"title_en": null,
				"description": null,
				"sort": 2,
				"status": 0,
				"create_time": 0,
				"update_time": "2017-01-23 11:43:05",
				"channel_terminal": 3,
				"url": "wssport:\/\/showdetail?onlineid=09b150b9a0be4f0f9623db98af06ffe6",
				"img": "\/\/devel-10016962.file.myqcloud.com\/e\/d6e\/011e3\/ed6e7011e34c7987d46a1df13667d01f.jpg"
			}, {
				"id": 131,
				"type_id": 3,
				"title": "APP\u6700\u9c9c\u54c1\u6d4b\u8bd51",
				"title_en": null,
				"description": null,
				"sort": 1,
				"status": 0,
				"create_time": 1483425072,
				"update_time": "2017-01-23 11:42:57",
				"channel_terminal": 3,
				"url": "wssport:\/\/showdetail?onlineid=3f16a57bb6bc4bf98f3dd784f3aedaa1",
				"img": "\/\/devel-10016962.file.myqcloud.com\/0\/6aa\/463e8\/06aa5463e8e6637fd14ff28a9281aebd.jpg"
			}]
		};
	</script>
	<script>
		var _hmt = _hmt || [];
		(function () {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?97efb1d74482f6f468f68673ea596471";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<script type='text/javascript'>
		var _vds = _vds || [];
		window._vds = _vds;
		(function () {
			_vds.push(['setAccountId', 'b34fb27a27b105ef']);
			(function () {
				var vds = document.createElement('script');
				vds.type = 'text/javascript';
				vds.async = true;
				vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(vds, s);
			})();
		})();
	</script>
	<script>
		function aClickFnc(type) {
			_hmt.push(['_trackEvent', type, 'click', 'code']);
		}
	</script>
</head>
<body>
<div class="periphery-content">
	<div id="content-div">

	</div>
</div>
<div class="no-data-content">
	<div class="no-data-content-div">
		<img class="no-data-img" src="./app/image/wuwang_log.png">
		<div class="no-data-message">
			<p>
				传输数据就像投篮，尽管你准如库里，也可能遭
			</p>
			<p>
				到封盖，不要气馁，点击重新加载，再试一下......
			</p>
		</div>
		<div class="no-data-btn">
			点击重新加载
		</div>
	</div>
</div>
<script src=./app/script/jquery214.min.js?v=1484725887></script>
<script src=./app/script/template.js?v=1484725887></script>
<script src=./app/script/periphery.js?v=1484725887></script>
<script src=./app/script/adMin.js?v=1484725869></script>
</body>
<script id="renderDom" type="text/html">
	<div>
		{{each list}}
		{{if ($value.type_id == 1 && !appVersion)}}
		<div class="main-activity">
			<div id="advPanel">
				<div id="advInner" style="display: none;"></div>
			</div>
		</div>
		<div class="bg-div"></div>
		{{else if $value.type_id == 2}}
		<div class="worth-buying">
			<div class="periphery-commodity-title">{{$value.type_name}}</div>
			<div class="worth-buying-content" id="worth-buying-content"></div>
		</div>
		{{else if $value.type_id == 3}}
		<div class="first-product">
			<div class="periphery-commodity-title">{{$value.type_name}}</div>
			<div class="first-product-content" id="first-product-content"></div>
		</div>
		{{else if $value.type_id == 4}}
		<div class="special" id="special">
			<div class="periphery-commodity-title special-title">{{$value.type_name}}</div>
			<div class="special-content" id="special-content"></div>
		</div>
		{{/if}}
		{{/each}}
	</div>
</script>
<script id="publicTemplate" type="text/html">
	{{each list}}
	<div class="{{className}}">
		<a href="{{$value.url}}" data-growing-idx="{{clickType}}{{$index + 1}}"
		   onClick="aClickFnc('{{clickType}}{{$value.title}}')">
			<img src="{{$value.img ? $value.img +'?isNeedDownload=true&level=' + levelType : noImgUrl}}"/>
		</a>
	</div>
	{{/each}}
</script>
<script id="worthBuyingTemplate" type="text/html">
	{{if leftData}}
	<div class="worth-buying-content-div worth-buying-left-div">
		<a href="{{leftData.url}}" data-growing-idx="hot_topics_1" onClick="aClickFnc('hot_topics_{{leftData.title}}')">
			<img src="{{leftData.img ? leftData.img +'?isNeedDownload=true&level=1' : noLeftImgUrl}}"/>
		</a>
	</div>
	{{if rightDataTop}}
	<div class="worth-buying-content-div worth-buying-right-div">
		<div class="worth-buying-right-img-div1">
			<a href="{{rightDataTop.url}}" data-growing-idx="hot_topics_2"
			   onClick="aClickFnc('hot_topics_{{rightDataTop.title}}')">
				<img src="{{rightDataTop.img ? rightDataTop.img +'?isNeedDownload=true&level=2' : noRightImgUrl}}"/>
			</a>
		</div>
		{{if rightDataBottom}}
		<div class="worth-buying-right-img-div2">
			<a href="{{rightDataBottom.url}}" data-growing-idx="hot_topics_3"
			   onClick="aClickFnc('hot_topics_{{rightDataTop.title}}')">
				<img src="{{rightDataBottom.img ? rightDataBottom.img +'?isNeedDownload=true&level=2' : noRightImgUrl}}"/>
			</a>
		</div>
		{{/if}}
	</div>
	{{/if}}
	{{/if}}
</script>
</html>
