<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到商城CMS</title>
    <script language="JavaScript" src="../script/jquery-3.1.0.js"></script>
    <script language="JavaScript" src="../script/jquery.dataTables.js"></script>
    <script language="JavaScript" src="../script/index.js"></script>
    <link rel="stylesheet" type="text/css" href="../style/jquery.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="../style/index.css"/>

</head>
<body>
<div id="dt-content">
    <div id="dt-content-div">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>create_time</th>
                <th>description</th>
                <th>img</th>
                <th>url</th>
                <th>sort</th>
                <th>title</th>
                <th>test</th>
            </tr>
            </thead>
        </table>
    </div>

</div>

</body>
</html>