<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="csrf-token" content="jdmKGUP1SpHnBMEA1wb6TFQolK7ubTBRLPyXXgQg">
	<title>欢迎来到商城CMS</title>
	<script language="JavaScript" src="../script/jquery-3.1.0.min.js"></script>
	<script language="JavaScript" src="../script/jquery.dataTables.js"></script>
	<script language="JavaScript" src="../script/jquery.validate.js"></script>
	<script language="JavaScript" src="../script/messages_zh.js"></script>
	<script language="JavaScript" src="../script/additional-methods.js"></script>
	<script language="JavaScript" src="../script/jquery.form.js"></script>
	<link rel="stylesheet" type="text/css" href="../style/jquery.dataTables.css"/>
	<link rel="stylesheet" type="text/css" href="../style/index.css"/>
</head>
<body>
<div class="body-div">
	<div class="need-login-div">
		<div class="need-login-centent">
			<div class="need-login-title">您还未登录，请 <a href="../">登录</a></div>
		</div>
	</div>
	<div class="del-bg-div"></div>
	<div class="loading-div">
		<div class="loading-bg-div"></div>
		<div class="ajax-loader-content">
			<div class="ajax-loader"></div>
		</div>
	</div>
	<div class="content">
		<div class="login-welcome">欢迎用户<span>啊</span><label class="usernam-label"></label><span>啊</span>登录到商城CMS系统
			<label class="button gray cancellation-btn">退出</label>
		</div>
		<div id="center-content">
			<div id="dt-content-div">
				<table id="example" class="display" cellspacing="0" width="100%">
					<thead>
					<tr>
						<th>ID</th>
						<th>专题名称</th>
						<th>链接</th>
						<th>专题封面</th>
						<th>排序</th>
						<th>操作</th>
					</tr>
					</thead>
				</table>
			</div>

			<div id="operate-content-div">
				<div id="operate-title-add" class="operate-title">添加专题</div>
				<div id="operate-title-edit" class="operate-title">修改专题</div>
				<div class="operate-div-form">
					<div class="form-loading-div">
						<div class="form-loading-bg-div"></div>
						<div class="form-ajax-loader-content">
							<div class="form-ajax-loader"></div>
						</div>
					</div>
					<form id="operate-form" name="operate-form">
						<div class="operate-from-group">
							<label class="operate-from-label">专题名称：</label>
							<input id="operate-from-title" name="operate-from-title" type="text"
								   class="operate-from-input" required
								   mymaxlength="20"/>
						</div>
						<div class="operate-from-group">
							<label class="operate-from-label">链<label>链接</label>接：</label>
							<input id="operate-from-url" name="operate-from-url" type="url"
								   class="operate-from-input" required/>
						</div>
						<div class="operate-from-group">
							<label class="operate-from-label">排<label>排序</label>序：</label>
							<input id="operate-from-sort" name="operate-from-sort" type="text"
								   class="operate-from-input" required digits="true"/>
						</div>
					</form>
					<div class="operate-from-group">
						<form action="http://10.2.2.9:20202/uploading" enctype="multipart/form-data" method="post"
							  id="fileForm" name="fileForm">
							<label class="operate-from-label">专题图片：</label>
							<input type="file" id="file" name="file" accept="image/png, image/jpg, image/jpeg"
								   class="operate-from-input"/>
							<button class="btn btn-primary">上传</button>
							<div id="imgurl-div">
								<div class="img-preview">图片预览区域</div>
								<img src=""/>
								<div class="error">请选择小于2MB的png，jpg，jpeg格式图片上传</div>
							</div>
						</form>
					</div>
					<div class="operate-from-group-btn">
						<div id="operate-btn-editok" class="operate-div-btn button gray">完成</div>
						<div id="operate-btn-addok" class="operate-div-btn button gray">完成</div>
						<!--<div id="operate-btn-resert" class="operate-div-btn button white">重置</div>-->
						<div id="operate-btn-cancel" class="operate-div-btn button white">返回</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<script language="JavaScript" src="../script/index.js"></script>
</body>
</html>