.periphery-content {
  font-size: 52px;

  .periphery-top-title-div {
	background-color: #f7f7f7;
	height: 30px;
	width: 120px;
	border-radius: 5px;

	.periphery-title-ports {
	  background-color: #29cc6d;
	}

  }
}
