@import "./animation";
@import "./toast";

html, body {
  margin: 0px;
  overflow: hidden;
}

body {
  background-image: url("../image/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

//关闭按钮样式
@mixin close-btnk {
  width: 30px;
  height: 30px;
}

.noteBg {
  width: 100%;
  height: 100%;
  //background: #000D47 url('../image/213123.gif') no-repeat center 0;
  background-size: 100%;
  z-index: 10;
  position: absolute;

  .sssss {
    width: 100%;
    height: 100%;
  }

  .loading {
    position: absolute;
    width: 80px;
    height: 100px;
    overflow: hidden;
    top: 68%;
    left: 50%;
    margin: -50px 0 0 -40px;
  }

  .num {
    color: #916c40;
    font-size: 20px;
    text-align: center;
    width: 80px;
    line-height: 24px;
    margin-top: 0px;
  }

}

//弹层背景层样式
.layer-bg-div {
  background-image: url("../image/layer-bg.png");
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99;
}

.fenxiang-ayer-bg-div {
  background-image: url("../image/fenxiang.png");
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 99;
  background-repeat: no-repeat;
  background-position-x: 100%;
}

//最外层div样式
.content {
  visibility: hidden;
  width: 100%;
  //background-image: url("../image/bg.png");
  //background-repeat: no-repeat;
  //background-size: cover;
  text-align: center;

  //顶部大字图及底部线圈图样式
  .top-title-img, .luoxuanquan-cls-img {
    width: 90%;
  }

  .top-tite-content {

    //顶部模糊图片进入样式
    .top-tite-scale {
      animation: top_title_animation .3s linear;
      -webkit-animation: top_title_animation .3s linear;
    }

    //动画进入完毕之后显示的顶部图片样式
    .top-tite-logo {
      display: none;
    }

    //查看规则按钮样式
    .activity-rule-btn {
      background-image: url("../image/activity-rule-btn.png");
      background-repeat: no-repeat;
      background-size: contain;
      height: 50px;
      width: 100px;
      position: absolute;
      top: 22%;
      left: 66%;
      z-index: 10;
      animation: activity-rule-btn_animation 3s infinite;
      -webkit-animation: activity-rule-btn_animation 3s infinite;

    }

    //滚动字幕样式
    .zimutiao {
      background-image: url("../image/zimutiao.png");
      background-repeat: no-repeat;
      background-size: cover;
      margin-left: -49px;
      height: 76px;
      margin-top: -45px;

      label {

        display: inline-block;
        height: 44px;
        color: #cabe68;
        font-size: 14px;
        transform: skewY(-9deg);
        position: relative;
        margin-top: 7%;
      }

    }
  }

  //底部样式
  .foter-basketball-content {
    margin-top: 40px;
    overflow: hidden;
    //线圈区域样式
    .luoxuanquan-cls {
      width: 100%;

      //线圈图片样式
      .luoxuanquan-cls-img {
        visibility: hidden;

        //线圈图片转圈动画样式
        &.luoxuanquan-cls-img-animation {
          animation: ring_animation 10s 0.5s infinite linear;
          -webkit-animation: ring_animation 10s 0.5s infinite linear;
        }

        //线圈图由小变大动画样式
        &.luoxuanquan-cls-img-show-animation {
          animation: ring_show_animation 0.5;
          -webkit-animation: ring_show_animation 0.5s;
        }
      }

      //微赛logo div样式
      .weisai-logo {
        position: absolute;
        background-image: url("../image/weisai.png");
        background-repeat: no-repeat;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: #febb1f;
        left: 39%;
        background-position: center;
        z-index: 10;
        background-size: 72px;
        display: none;

        //微赛logo由上到下由小到大动画样式
        &.weisai-logo-animation {
          animation: weisai_logo_animation 0.5s linear;
          -webkit-animation: weisai_logo_animation 0.5s linear;
        }

      }

      //微赛下方div 样式
      .weisai-div {
        position: absolute;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #736750;
        left: 39%;
        z-index: 1;
        opacity: 0.8;
        display: none;

        //div 大小不断变化动画样式 持续稳定
        &.weisai-div-animation {
          animation: circular_animation 10s 1s infinite;
          -webkit-animation: circular_animation 10s 1s infinite;
        }

        //div大小变化动画样式 入场动画
        &.weisai-div-quick-animation {
          animation: weisai-div-quick-animation 1s;
          -webkit-animation: weisai-div-quick-animation 1s;
        }

      }

    }

    //明星头像区域样式
    .head-ico-content {
      position: absolute;
      width: 100%;
      z-index: 50;

      //整个明星头像旋转动画样式
      &.head-ico-content-animation {
        //animation: head_icon_animation 20s infinite linear;
        //-webkit-animation: head_icon_animation 20s infinite linear;
      }

      //单个明星头像样式
      .head-ico-div {
        text-align: center;
        width: 56px;
        height: 80px;
        position: absolute;
        color: #ffffff;
        z-index: 50;
        display: none;

        transition: transform 0.5s;
        -moz-transition: transform 0.5s; /* Firefox 4 */
        -webkit-transition: transform 0.5s; /* Safari and Chrome */
        -o-transition: transform 0.5s; /* Opera */

        //明星头像由小及大入场动画样式
        &.head-ico-div-expand-animation {
          animation: ring_show_animation 0.5s linear;
          -webkit-animation: ring_show_animation 0.5s linear;
        }

        //明星头像转动样式动画 与外层转动相互抵消 头像始终保持竖直
        &.head-ico-div-turn-animation {
          //animation: ring_animation 20s infinite linear;
          //-webkit-animation: ring_animation 20s infinite linear;
        }

        //头像 img样式
        img.head-ico {
          width: 50px;
          height: 60px;
        }

        //头像 名称样式
        .head-ico-title {
          display: inline-block;
          width: 100%;
          text-align: center;
          position: relative;
          top: -13px;
          font-size: 12px;
        }

        &.scal-class {
          transform: scale(1.5, 1.5);
        }
      }
    }

    //投票排行区域样式
    .votes-num-layer {
      display: none;

      .head-ico-content-copy {
        position: absolute;
        width: 100%;
        z-index: 100;

        //关闭排行区域按钮样式
        .close-votes-num-layer-btn {
          position: absolute;
          right: 10%;
          @include close-btnk;

        }

        //单个明星头像样式
        .head-ico-div {
          text-align: center;
          width: 56px;
          height: 80px;
          position: absolute;
          color: #ffffff;
          z-index: 100;
          transform: scale(1.3);

          //头像 img样式
          .head-ico {
            width: 50px;
            height: 60px;
          }

          //头像 名称样式
          .head-ico-title {
            display: inline-block;
            width: 100%;
            text-align: center;
            position: relative;
            top: -13px;
            font-size: 12px;
          }

          //投票数量样式
          .head-ico-votes-num {
            display: inline-block;
            width: 100%;
            text-align: center;
            position: relative;
            top: -13px;
            font-size: 12px;

          }
        }
      }

      //投票排行弹层按钮区域样式
      .votes-num-layer-btn {
        position: relative;
        z-index: 100;

        //现场喊人按钮样式
        .gogo-live-btn-cls {
          width: 30%;
          margin-left: 14%;
          float: left;
        }
        //分享按钮样式
        .gogo-hanr-btn-cls {
          width: 30%;
        }
      }

    }
  }

  //弹层区域样式
  .layer-content-div {
    position: absolute;
    height: 70%;
    width: 100%;
    top: 15%;
    //z-index: 100;

    //活动规则弹层区域样式
    .activity-rule-layer {
      display: none;

      //规则说明图片样式
      .activity-rule {
        position: absolute;
        top: 31%;
        width: 78%;
        left: 10%;
        z-index: 100;
      }

      //关闭规则弹层按钮样式
      .activity-rule-close-btn {
        position: absolute;
        top: 25%;
        right: 10%;
        z-index: 100;
        @include close-btnk;

      }
    }

    //点击明星头像弹层区域样式
    .give-me-fine-layer {
      height: 100%;
      display: none;
      position: relative;
      z-index: 100;

      //明星背景图片样式
      .give-me-fine-logo {
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
        width: 80%;
        margin-left: 10%;

        &.head-icon-maidi {
          background-image: url("../image/gogo-maidi.png");
        }

        &.head-icon-baijingting {
          background-image: url("../image/gogo-baijingting.png");
        }

        &.head-icon-jiangjinfu {
          background-image: url("../image/gogo-jiangjinfu.png");
        }

        &.head-icon-wuyifan {
          background-position-x: 76%;
          background-image: url("../image/gogo-wuyifan.png");
        }

        &.head-icon-xiaojingteng {
          background-image: url("../image/gogo-xiaojingteng.png");
        }
      }

      //关闭弹层样式
      .give-me-fine-close-btn {
        margin-right: 10%;
        z-index: 100;
        float: right;
        @include close-btnk;
      }

      //弹层底部表单样式
      .give-me-fine-form {
        height: 150px;
        margin-top: -40%;
        background-image: url("../image/form-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 70%;
        margin-left: 15%;
        border-radius: 10px;
        font-size: 14px;

        //手机号区域样式
        .give-me-fine-form-phone {
          padding-top: 20px;

          input {
            float: left;
            width: 42%;
            border-radius: 10px;
            line-height: 30px;
            height: 30px;
            font-size: 14px;
            margin-left: 20px;
            border: 0px;
            padding: 0px 10px 0px 10px;
          }

          //获取验证码按钮样式
          .get-verification-btn {
            width: 34%;
            float: left;
            background-color: #ffffff;
            border-radius: 10px;
            margin-left: 10px;
            height: 30px;
            line-height: 30px;
            color: #aa7c2e;
          }

        }

        //验证码区域样式
        .give-me-fine-form-verification {
          height: 60px;
          line-height: 60px;

          input {
            font-size: 14px;
            border-radius: 10px;
            border: 0px;
            padding: 0px 10px 0px 10px;
            height: 33px;
            width: 80%;
          }

        }

        //给我加油按钮样式
        img.gogo-btn {
          margin-top: 46px;
          width: 50%;
        }

      }

      //提交验证码后投票数区域样式
      .give-me-fine-tks {
        height: 150px;
        margin-top: -40%;
        background-image: url("../image/form-bg.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 70%;
        margin-left: 15%;
        border-radius: 10px;
        font-size: 14px;
        display: none;

        .give-me-fine-ths-title {
          color: #ffffff;
          height: 30px;
          line-height: 30px;
          font-size: 20px;
          padding-top: 14px;
          font-weight: bold;
        }

        .give-me-fine-ths-num-div {
          height: 40px;
          background-color: #ffffff;
          width: 80%;
          margin-left: 10%;
          line-height: 40px;
          border-radius: 10px;
          color: #aa7c2e;
          margin-top: 20px;

          label {
            min-width: 18px;
            display: inline-block;
          }
        }

        img.see-votes-num-btn {
          margin-top: 25px;
          width: 50%;
        }

      }
    }

  }
}

.mask {
  width: 100%;
  height: 100%;
  background: #32373b;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  display: none;
}

.mask-box {
  width: 100%;
  height: 252px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -119px;
}

.mask-pic {
  width: 194px;
  height: 194px;
  margin: 0 auto;
  text-align: center;
}

.mask span {
  font-size: 12px;
  display: block;
  color: #ffd40a;
  text-align: center;
  width: 100%;
  height: 25px;
  padding-top: 10px;
}

.mask i {
  width: 128px;
  height: 194px;
  background: url(../image/hengping.png) 0 0 no-repeat;
  background-size: 128px 194px;
  display: block;
  margin: 0 auto;
  -webkit-animation: maskAni 1.5s ease infinite alternate;
  animation: maskAni 1.5s ease infinite alternate;
}

@-webkit-keyframes maskAni {
  0% {
    -webkit-transform: rotate(-90deg);
  }
  30% {
    -webkit-transform: rotate(-90deg);
  }
  70% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

