@-webkit-keyframes spin-rotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@keyframes spin-rotate {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0)
	}

	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg)
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg)
	}
}

@-webkit-keyframes ball-scale {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	80% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	90%{
		opacity: 0;
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
		/*opacity: 0*/
	}
}

@keyframes ball-scale {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	80% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	90%{
		opacity: 0;
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1)
		/*opacity: 0*/
	}
}

.quan {
	-webkit-animation: spin-rotate 1.6s 0s infinite linear;
	animation: spin-rotate 1.6s 0s infinite linear;
}

.da {
	-webkit-animation: ball-scale 1s 0s ease-in-out infinite;
	animation: ball-scale 1s 0s ease-in-out infinite;
}

.test {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	/*-webkit-animation: ball-scale 1s 0s ease-in-out infinite;*/
	/*animation: ball-scale 1s 0s ease-in-out infinite;*/
}

#yin-yang {
	margin: 0 auto;
	width: 96px;
	height: 48px;
	background: #eee;
	border-color: red;
	border-style: solid;
	border-width: 2px 2px 50px 2px;
	border-radius: 100%;
	position: relative;
}

#yin-yang:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	background: #eee;
	border: 18px solid red;
	border-radius: 100%;
	width: 12px;
	height: 12px;
}

#yin-yang:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	background: red;
	border: 18px solid #eee;
	border-radius: 100%;
	width: 12px;
	height: 12px;
}

#yin-yang1 {
	margin: 0 auto;
	width: 48px;
	height: 96px;
	background: #eee;
	border-color: red;
	border-style: solid;
	border-width: 2px 2px 2px 50px;
	border-radius: 100%;
	position: relative;
}

#yin-yang1:before {
	content: "";
	position: absolute;
	top: 0;
	left: -50%;
	background: #eee;
	border: 18px solid red;
	border-radius: 100%;
	width: 12px;
	height: 12px;
}

#yin-yang1:after {
	content: "";
	position: absolute;
	top: 50%;
	left: -50%;
	background: red;
	border: 18px solid #eee;
	border-radius: 100%;
	width: 12px;
	height: 12px;
}
